<%= stylesheet_link_tag params[:controller] %>
<%= render 'alert', :layout => 'alert' %>
<header class="business-header">
  <img class="logo rounded-circle" src="assets/logo_magic_rond.png">
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center">
                    <h1 class="tagline">Le site de mise en relation <br> des joueurs Magic </h1>
                    <p>De nouveaux amis et rivaux <br>vous attendent sur Magic At Home ! </p>
                    <br>
                    <a class="btn btn-primary btn-md" href="/profil">Se connecter</a>
                </div>
            </div>
        </div>
</header>
<section class="intro">
  <div class="container">
    <h1 class="stepper-title">Comment ça marche ? &darr;</h1>
  </div>
</section>

<section id=timeline>
	<div class="demo-card-wrapper">
		<div class="demo-card demo-card--step1">
			<div class="head">
				<div class="number-box">
					<span><i class="fas fa-sign-out-alt"></i></span>
				</div>
				<h2> Je m'inscris</h2>
			</div>
			<div class="body">
				<img src="../assets/ce1.jpg" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step2">
			<div class="head">
				<div class="number-box">
					<span><i class="fas fa-calendar-alt"></i></span>
				</div>
				<h2> Je recherche un événement</h2>
			</div>
			<div class="body">
				<img src="../assets/ce2.jpg" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step3">
			<div class="head">
				<div class="number-box">
					<span><i class="fas fa-trophy"></i></span>
				</div>
				<h2> Je recherche un adversaire</h2>
			</div>
			<div class="body">
				<img src="../assets/ce3.jpg" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step4">
			<div class="head">
				<div class="number-box">
					<span><i class="fab fa-searchengin"></i></span>
				</div>
				<h2> On organsise la rencontre</h2>
			</div>
			<div class="body">
				<img src="../assets/ce4.jpg" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step4 text-center">
			<a class="btn btn-primary btn-md" href="/profil">Se connecter</a>
		</div>

	</div>
</section>
<div class="footer text-center">
	<p>« Magic at home est un contenu de fan non officiel autorisé<br>
	 dans le cadre de la Politique des contenus de fans. Ni approuvé, ni promu par Wizards.<br>
	  Certaines parties des matériaux utilisés sont la propriété de Wizards of the Coast.<br>
		 ©Wizards of the Coast LLC. »</p>
</div>
