<%= stylesheet_link_tag params[:controller] %>

<header class="business-header">
  <img class="logo rounded-circle" src="https://i.pinimg.com/236x/98/f4/ff/98f4ff36a9faadc62bf9deabe1859676--design-humor-the-gathering.jpg">
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center">
                    <h1 class="tagline">Magic at home</h1>
                    <p>De nouveaux amis et rivaux <br>vous attendent sur Magic At Home ! </p>
                    <br>
                    <a class="btn btn-primary btn-md" href="/profil">Se connecter</a>
                </div>
            </div>
        </div>
</header>
<section class="intro">
  <div class="container">
    <h1 class="stepper-title">Coment ça marche ? &darr;</h1>
  </div>
</section>

<section id=timeline>
	<div class="demo-card-wrapper">
		<div class="demo-card demo-card--step1">
			<div class="head">
				<div class="number-box">
					<span><i class="fas fa-sign-out-alt"></i></span>
				</div>
				<h2> Je m'inscris</h2>
			</div>
			<div class="body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
				<img src="../assets/ce1.jpg" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step2">
			<div class="head">
				<div class="number-box">
					<span><i class="fas fa-calendar-alt"></i></span>
				</div>
				<h2> Je recherche un événement</h2>
			</div>
			<div class="body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
				<img src="../assets/ce2.jpg" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step3">
			<div class="head">
				<div class="number-box">
					<span><i class="fas fa-trophy"></i></span>
				</div>
				<h2> Je recherche un adversaire</h2>
			</div>
			<div class="body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
				<img src="../assets/ce3.jpg" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step4">
			<div class="head">
				<div class="number-box">
					<span><i class="fab fa-searchengin"></i></span>
				</div>
				<h2> On organsise la rencontre</h2>
			</div>
			<div class="body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
				<img src="../assets/ce4.jpg" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step5">
			<div class="head">
				<div class="number-box">
					<span><i class="fas fa-beer"></i></span>
				</div>
				<h2> je savoure ma victoire</h2>
			</div>
			<div class="body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
				<img src="http://placehold.it/1000x500" alt="Graphic">
			</div>
		</div>
    
	</div>
</section>