<div class="sidebar">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="#" class="simple-text logo-normal">
            Magic at home
          </a>
        </div>
        <ul class="nav">
          <li class="active ">
            <a href="/profil">
              <i class="fas fa-user-astronaut"></i>
              <p>Mon Profil</p>
            </a>
          </li>
          <li>
            <a href="/player">
              <i class="fas fa-search-location"></i>
              <p>Recherche de joueurs</p>
            </a>
          </li>
          <li>
            <a href="/games">
              <i class="fas fa-dice-d20"></i>
              <p>Partie</p>
            </a>
          </li>
          <li>
            <a href="/events">
              <i class="fas fa-calendar-alt"></i>
              <p>Evenement</p>
            </a>
          </li>
          <li>
            <a href="/map">
              <i class="tim-icons icon-pin"></i>
              <p>Maps</p>
            </a>
          </li>

          <br> 
          <br>
          
          <div class="logo">
          <a href="#" class="simple-text logo-normal">
            Liens utiles
          </a>
        </div>

           <li>
            <a href="https://magic.wizards.com/fr" target="_blank">
              <i class="fas fa-hat-wizard"></i>
              <p>MTG Official</p>
            </a>
            <a href="http://www.magiccorporation.com/" target="_blank">
              <i class="fas fa-magic"></i>
              <p>Magic Corporation</p>
            </a>
            <a href="https://mtgtop8.com/" target="_blank">
              <i class="far fa-star"></i>
              <p>MTG top8</p>
            </a>
            <a href="https://www.cardmarket.com/fr/Magic" target="_blank">
              <i class="fas fa-shopping-cart"></i>
              <p>Cradmarket</p>
            </a>
            <a href="https://magic.wizards.com/fr/content/magic-gathering-arena" target="_blank">
              <i class="fas fa-torii-gate"></i>
              <p>Magic Arena</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent   ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="#">Profil du joueur <% if user_signed_in? %>
                      <br><%= current_user.profile.username %>
                    <% end %></a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto ">
              <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <div class="photo">
                    <img src="/assets/anime6.png">
                  </div>
                  <b class="caret d-none d-lg-block d-xl-block"></b>
                  <p class="d-lg-none">
                  </p>
                </a>
                <ul class="dropdown-menu dropdown-navbar">
                  <li class="nav-link">
                    <a href="/profil" class="nav-item dropdown-item">Profil</a>
                  </li>
                  <div class="dropdown-divider"></div>
                  <li class="nav-link">
                    <% if user_signed_in? %>
                      <%= link_to('Déconnection', destroy_user_session_path, method: :delete, class:"nav-item dropdown-item" ) %>
                    <% end %>
                  </li>
                </ul>
              </li>
              <li class="separator d-lg-none"></li>
            </ul>
          </div>
        </div>
      </nav>
      
