@import 'dashboards';
body{
  background-image: url('/assets/bg2.jpg')!important;
}
h2{
  text-align: center;
}
.field{
  text-align: center;
}
.actions{
  text-align: center;
}
.container{
  border-radius: 30px;
  margin-top: 100px;
  margin-left: 350px;
  padding: 3px 10px 10px 10px;
}
.shared{
  padding: 10px;
  text-align: center;
}
.card-body{
  background: linear-gradient(165deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 0%);
}
