@import 'dashboards';
body{
  background-image: url('../assets/bg2.jpg')!important;
}
h2{
  color: red;
  margin-top: 50px;
  text-align: center;
}
.field{
  text-align: center;
  color: yellow;
}
.actions{
  text-align: center;
}
.container{
  width: 40%;
  height: 450px;
  border-radius: 20px;
  margin-top: 100px;
  padding: 3px 10px 10px 10px;
  background-color: aqua;
}
.shared{
  text-align: center;
}
